<ion-header>
  <ion-toolbar>
    <ion-title>
      Pizzeria Becoven
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="becovenEditando.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="becovenEditando.descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="becovenEditando.precio"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir Productos</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar Productos</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar Productos</ion-button>


<h1>LISTA DE PRODUCTOS</h1>
<ion-list>
  <ion-item *ngFor="let documentBecoven of arrayColeccionBecoven" (click)="selecBecoven(documentBecoven)">
      <div class="ion-padding">
        <ion-button color="primary" expand="full" (click)="navigateToProducto()"
          >Button</ion-button>  
      <ion-grid>
        <ion-row>
          <h2>Titulo: {{documentBecoven.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>Descripción:{{documentBecoven.data.descripcion}}</p>
        </ion-row>
        <ion-row>
          <p>Precio:{{documentBecoven.data.precio}}</p>
        </ion-row>
      </ion-grid>
      </div>
  </ion-item>

</ion-list>
</ion-content>

<!--olacvsxvxcv-->